@import url(https://fonts.googleapis.com/css?family=Mr+Dafoe);
@import url(https://fonts.googleapis.com/css?family=Titillium+Web:900);

*{
 /* border: 1px solid lightblue;*/
}

body {
	margin: 0 auto;
	text-align: center;
	background: rgb(208,63,213);
	background: -moz-linear-gradient(328deg, rgba(208,63,213,1) 0%, rgba(34,179,255,1) 100%);
	background: -webkit-linear-gradient(328deg, rgba(208,63,213,1) 0%, rgba(34,179,255,1) 100%);
	background: linear-gradient(328deg, rgba(208,63,213,1) 0%, rgba(34,179,255,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#d03fd5",endColorstr="#22b3ff",GradientType=1);
	font-family: 'Roboto Condensed', sans-serif;
	color: white;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: block;
}

li {
  display: inline-block;
}

.wrapper {
  margin: 0 auto;
  width: 80%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


/******************* Header *******************/
#logo {
	display: relative;
}

.head-question{
  font-size: 2em;
  text-transform: lowercase;
}

.stay {
  position: relative;
/*  background-image: -webkit-linear-gradient(#378DBC 0%, #B6E8F1 46%, #ffffff 50%, #32120E 54%, #FFC488 58%, #582C11 90%, #EC9B4E 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;*/
  top: -30px;
  -webkit-text-stroke: 4px #f5f5f5;
  font-size: 30vw;
  font-family: 'Titillium Web', sans-serif;
  font-style: italic;
  margin: 0;
  line-height: 1;
  color: #642edb;
}

.inside {
  position: absolute;
  margin: 0px;
  font-family: 'Mr Dafoe', cursive;
  font-size: 20vw;
  color: #F975F7 ;
  transform:rotate(-10deg);
  -ms-transform:rotate(-10deg); /* IE 9 */
  -webkit-transform:rotate(-10deg); /* Safari and Chrome */
  margin-left: 20%;
  margin-top: -20%;
  -webkit-text-stroke: 1px #f008b7;
  -webkit-filter: drop-shadow(2px 2px 20px #f008b7);
  z-index: 20;
}

.tagline {
  margin-top: 90px;
}

#beginButton{
  transition: 0.3s;
  border: none;
  background: transparent;
  color: white;
  font-size: 2em;
  font-family: 'Titillium Web', sans-serif;
  letter-spacing: 2.3px;
  padding: 5px 15px;
  border: 1px solid white;
  margin-top: 10px;
}

#beginButton:hover {
  background: white;
  color: #9673E0;
}


/******************* Main Quiz *******************/
p {
  font-size: 1.5em;
  padding: 10px;
}

h2 {
  font-size: 2.4em;
}

input[type=radio] {
  visibility: hidden;
}

label {
  display: block;
  cursor: pointer;
  transition: 0.3s;
}

label:hover {
  background: white;
  color: #9673E0;
}

input[type=radio]:checked + label {
  background: white;
  color: #9673E0;
}

.laziness {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 15px;
}

.lazy-icons img{
  width: 100%;
  max-width: 170px;
  height: auto;
  padding: 20px;
}

.genre-selection {
  font-size: 4em;
}
